@import '../../../assets/color-palette.scss';
main{
    display: flex;
    .main-container{
        //display: flex;
        //flex-direction: column;
        //flex-grow: 1;
        width: 100%;
        //padding-top: 64px;
        overflow-y: auto;
        height: 100vh;

        .header {
            top: 0;
            position: sticky;
            z-index: 9;
        }

        .content{
            position: relative;
            background-color:$background-light;
            width: 100%;
            flex-grow: 1;
            //margin-top: 64px;
            min-height: calc(100vh - 64px);
            padding: 18px 28px 82px;
            border-left: 1px solid $outline;
            //overflow-y: auto;

            .footer {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
}
