@use "../../../../assets/color-palette";

.button {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: color-palette.$secondary-dark;
  width: 100%;
  height: 46px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:disabled {
    color: color-palette.$secondary-dark;

    &:hover {
      color: color-palette.$primary;
    }
  }

  i {
    position: relative;
    right: 25%;
  }
}

/* Primary buttons */
.primary {
  background-color: color-palette.$primary;
  color: #ffffff;

  &:hover {
    color: color-palette.$white;
    background-color: color-palette.$primary-v2;
  }

  &:disabled {
    background-color: color-palette.$background-dark;

    &:hover {
      background-color: color-palette.$background-dark;
    }
  }
}

/* Outline buttons */
.outline {
  color: color-palette.$primary-dark;
  background-color: transparent;
  border: 1px solid color-palette.$primary;

  &:hover {
    color: color-palette.$primary;
    background-color: transparent;
    border: 1px solid color-palette.$primary;
  }

  &:disabled {
    background-color: transparent;
    border: 1px solid color-palette.$background-dark;

    &:hover {
      background-color: transparent;
      border: 1px solid color-palette.$background-dark;
    }
  }
}
/* Custom button-colors */

.button-green {
  background-color: color-palette.$secondary-green;

  &:hover {
    background-color: #69c930;
  }
}

.button-pink {
  background-color: color-palette.$secondary-pink;

  &:hover {
    background-color: #f34b91;
  }
}

.button-blue {
  background-color: color-palette.$secondary-blue;

  &:hover {
    background-color: #4b78f3;
  }
}

.button-light-blue {
  background-color: color-palette.$secondary-light-blue;

  &:hover {
    background-color: #2cdbec;
  }
}
