@import "../../../../assets/typography.scss";
@import "../../../../assets/color-palette.scss";

.providers-container {
  width: 100%;
  min-height: 600px;
  height: 100%;
  background-color: $white;
  display: flex;
  flex-direction: column;
  .providers-container-header {
    border-bottom: 1px solid $outline;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $primary-dark;
    padding: 20px;
    margin-bottom: 15px;
  }
  .providers-container-content {
    width: 100%;
    height: 90%;

    #activeCard {
      background-color: rgba($color: #ffab2b, $alpha: 0.1);
      border: none;
    }
    .content-cards {
      // background-color: rgba($color: #ffab2b, $alpha: 0.1);
      background-color: white;
      border-bottom: 1px solid $outline;
      height: 75px;
      width: 100%;
      display: flex;
      align-items: center;
      cursor: pointer;
      .icon-circle {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: rgba($color: #ffab2b, $alpha: 0.2);
        // opacity: 0.3;
        margin: 15px;
        position: relative;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $primary;
          // opacity: 1;
        }
      }
      .cards-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin: 12px;

        .providers-name-container {
          display: flex;
          .providers-name {
            padding-right: 10px;
          }
        }
      }
    }
  }
}
