<div class="my-main-container"> 
	<h3 class="notifications-header heading-5">Notifications</h3> 
 
	<div class="sub-containers"> 
		<div class="line-content"> 
			<div class="item-1"> 
				<span class="p-link">Product updates</span> 
				<p class="p-secondary">New features and changes to the way your accounts work</p> 
			</div> 
			<div class="item-2"> 
				<app-toggle 
					class="toggle" 
					(value)="setForm($event, 'productupdate')"  
					[checked]="notificationGroup.get('productupdate')?.value" 
				></app-toggle> 
			</div> 
		</div> 
		<hr /> 
		<div class="line-content"> 
			<div class="item-1"> 
				<span class="p-link">Offer updates</span> 
				<p class="p-secondary">Rates, promotions and products you may be eligible for</p> 
			</div> 
			<div class="item-2"> 
				<app-toggle 
					class="toggle" 
					(value)="setForm($event, 'offerupdates')" 
					[checked]="notificationGroup.get('offerupdates')?.value" 
				></app-toggle> 
			</div> 
		</div> 
		<hr />  
		<div class="line-content">
			<div class="item-1">
				<span class="p-link">Comments</span>
				<p class="p-secondary">Replies from support on the requests you have raised</p>
			</div>
			<div class="item-2">
				<app-toggle
					class="toggle"
					(value)="setForm($event, 'comments')"
					[checked]="notificationGroup.get('comments')?.value"
				></app-toggle>
			</div>
		</div>
		<hr />
		<div class="line-content">
			<div class="item-1">
				<span class="p-link">Notifications</span>
				<p class="p-secondary">
					Payments, transfers and card activity as they happen
				</p>
			</div>
			<div class="item-2">
				<app-toggle
					class="toggle"
					(value)="setForm($event, 'notifications')"
					[checked]="notificationGroup.get('notifications')?.value"
				></app-toggle>
			</div>
		</div>
	</div>
</div>
