@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;1,200;1,300;1,400&family=Mulish:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,300;0,400;1,200;1,300;1,400&family=Mulish:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Roboto:wght@500&display=swap");
@import "../../../../assets/color-palette.scss";

::-webkit-scrollbar{
    display: none;
}
p{
    color:$secondary-dark;
}
.cardscontainer{
    width: 100%;
    overflow-x: scroll;
}
.firstDiv {
  background-color: $white;
  padding-top: 7px;
  padding-left: 18.2px;
  padding-right: 23px;
  padding-bottom: 7px;
  border-radius: 4px;
  min-width: 650px;
}

.hed {
  width: 100%;
  height: 16.2rem;
  margin-top: 1.0625rem;
  background-color: $background-light;
}
.ph6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.YC {
  color: $secondary-dark;
  font-family: "Roboto", sans-serif;
}
.All {
  color: $primary-dark;
  font-size: 0.75rem;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin-bottom: 20px;
}
.card {
  border: none;
  border-radius: 0 !important;
  border-bottom: 1px solid $outline;
  &:last-child {
    border: none;
    .card-body{
        padding-bottom: 0;
    }
  }
  .imgdiv{
          width: 42.2%;
          img{
              margin-right: 22.6px;
          }
      }
      .two{
          width: 30%;
      }
}
.card-body {
  width: 100%;
  padding-bottom: 3.5px;
}

.imgdiv {
  margin-right: 1.375rem;
}

.two{
    width: 30%;
}
.three{
    width: 22%;
}
.five {
  margin-right: 5.125rem;
}
.eight {
  margin-right: 7.125rem;
}
h6 {
  margin: 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
.two p,
.three p,
.four p,
.five p,
.six p,
.seven p,
.eight p,
.nine p {
  color: $secondary-light;
  font-size: 0.875rem;
  font-family: "Roboto", sans-serif;
}
.icon{
  margin-top: 11px !important;
}