<div class="hed">
  <div class="ph6">
    <p class="YC">Your cards</p>
    <a routerLink="/accounts" class="All">ALL ACCOUNTS</a>
  </div>
  <div class="cardscontainer">
    <div class="firstDiv">
      <div class="card">
        <div class="card-body d-flex first">
          <div class="imgdiv d-flex">
            <div>
              <img src="../../../assets/img/Icons-Visa.png" alt="visacard" />
            </div>
            <div>
              <h6>3210 **** **** 4008</h6>
              <p>Card number</p>
            </div>
          </div>
          <div class="two">
            <h6>$88.200.30</h6>
            <p>Balance</p>
          </div>
          <div class="three">
            <h6>Active</h6>
            <p>Status</p>
          </div>
          <div>
            <i class="far fa-question-circle icon"></i>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex first">
          <div class="imgdiv d-flex">
            <div>
              <img src="../../../../assets/img/Icons-Master Card.png" alt="visacard" />
            </div>
            <div>
              <h6>3210 **** **** 4008</h6>
              <p>Card number</p>
            </div>
          </div>
          <div class="two">
            <h6>$88.200.30</h6>
            <p>Balance</p>
          </div>
          <div class="three">
            <h6>Active</h6>
            <p>Status</p>
          </div>
          <div>
            <i class="far fa-question-circle icon"></i>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-body d-flex first">
          <div class="imgdiv d-flex">
            <div>
              <img src="../../../assets/img/Icons-Visa.png" alt="visacard" />
            </div>
            <div>
              <h6>3210 **** **** 4008</h6>
              <p>Card number</p>
            </div>
          </div>
          <div class="two">
            <h6>$0.00</h6>
            <p>Balance</p>
          </div>
          <div class="three">
            <h6>Blocked</h6>
            <p>Status</p>
          </div>
          <div>
            <i class="far fa-question-circle icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
