@import '../../../assets/color-palette.scss';
@import '../../../assets/typography.scss';

.main-container {
	width: 71.1875rem;
	height: 48.4375rem;
	display: flex;
	flex: 1;
}

.my-container {
	width: 100%;
	height: 100%;
	padding: 0.7% 0;
}

.my-row {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 3.34fr 1fr;
	column-gap: 1px;
}

.tab-col,
.content-col {
	background-color: #fff;
}

.content-col {
	padding-top: 2.1%;
	padding-right: 18%;
	padding-left: 2.7%;
	padding-bottom: 8.8%;
	position: relative;
}

.tab-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 10% 0 14% 0;
}

.tap-options {
	display: flex;
	flex-direction: column;
}

.tab-link {
	text-decoration: none;
	margin-left: -1px;
	padding: 0 0 0 8.5%;
	margin-bottom: 8%;

	&:hover {
		cursor: pointer;
		color: $primary-dark;
	}
}

.p-link {
	padding: 0 0 0 7.9%;
	border-left: 3px solid;
	border-left: 2px solid $primary-dark;
	margin-left: -2px;
	color: $primary-dark;
}

.settings-buttons-container {
	position: absolute;
	bottom: 3.4%;
	display: flex;
}

.update-btn {
	width: 12.85rem;
}

.cancel-btn {
	margin-left: 12px;
	width: 9.3125rem;
}
