@use '../../../assets/color-palette.scss';
@use '../../../assets/typography.scss';
.input-div {
  // width: 360px;
  height: 90px;
  font-size: 14px;

  .input-field {
    width: 100%;
    height: 52px;
    border: 1px solid color-palette.$outline;
    border-radius: 3px;
    margin-top: 12px;
    padding-left: 15px;
    font-family: typography.$font-primary;
    &:disabled {
      color: color-palette.$secondary-light;
    }
    &:focus {
      outline-color: color-palette.$secondary-light;
    }
    &::placeholder {
      color: color-palette.$secondary-light;
      font-family: typography.$font-primary;
    }
  }
  label {
    display: block;
    color: color-palette.$primary-dark;
    font-family: typography.$font-primary;
  }
}

.input-warn {
  .input-field {
    border: 1px solid color-palette.$secondary-pink;
  }
  i {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -38px;
    left: 90%;
    font-size: 16px;
    color: color-palette.$primary-dark;
  }
}

.input-success {
  .input-field {
    border: 1px solid color-palette.$secondary-green;
  }
  i {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: -40px;
    left: 90%;
    font-size: 20px;
    color: color-palette.$primary-dark;
  }
}

.is-required {
  // background-color: red;
  // padding: 2rem;
}
.has-error {
  // padding: 10rem;
  // border: 3px solid red!important;
  background-color: red;
}
