@use '../../../assets/color-palette.scss';
@use '../../../assets/typography.scss';
:host ::ng-deep input {
	height: 52px;
	width: 100%;
	border: 1px solid color-palette.$outline;
	border-radius: 3px;
	margin-top: 12px;
	padding-left: 15px;
	font-family: typography.$font-primary;

	&:disabled {
		color: color-palette.$secondary-light;
	}
	&:focus {
		outline-color: color-palette.$secondary-light;
	}
	&::placeholder {
		color: color-palette.$secondary-light;
		font-family: typography.$font-primary;
	}
}
.input-div {
	//height: 90px;
	font-size: 14px;

	label {
		display: block;
		color: color-palette.$primary-dark;
		font-family: typography.$font-primary;
	}
}

.input-warn {
	::ng-deep input {
		border: 1px solid color-palette.$secondary-pink;
	}
	i {
		display: inline-block;
		position: relative;
		z-index: 1;
		top: -38px;
		left: 90%;
		font-size: 16px;
		color: color-palette.$primary-dark;
	}
}

.input-success {
	::ng-deep input {
		border: 1px solid color-palette.$secondary-green;
	}
	i {
		display: inline-block;
		position: relative;
		z-index: 1;
		top: -40px;
		left: 90%;
		font-size: 20px;
		color: color-palette.$primary-dark;
	}
}

.custom-input {
	height: 100px;
}
