//Pure colors
$white: #ffff;

//Primary Colors

$primary: #4eabe9;
$primary-v2: #4e8ce9;
$primary-dark: #252631;

//Secondary Colors

$secondary-dark: #778ca2;
$secondary-light: #98a9bc;

//palette secondary colors

$secondary-blue: #4d7cfe;
$secondary-green: #6dd230;
$secondary-pink: #fe4d97;
$secondary-light-blue: #2ce5f6;

//outline and backgrounds

$outline: #e8ecef;
$background-dark: #f2f4f6;
$background-middle: #fbfcfd;
$background-light: #f8fafb;

//border-colors
$border-light: #f3f5f7;
//Pure colors
$white: #ffff;

// Dashboard left chart colors
$income: #ffab2b;
$expenses: $secondary-blue;
