@import "../../../../../assets/color-palette";
#chart {
  .text {
    .heading-2 {
      color: $primary-dark;
      font-size: 20px;
      margin-bottom: 0;
      margin-left: 0;
    }
  }
  width: 25vw;
  height: 80px;
  border-radius: 4px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding: 15px 15px 15px 15px;
  // margin-bottom: 17px;
}

.graph {
  width: 152.26px;
}
